<mat-toolbar class="max-w-full mx-auto border-x justify-between p-6" style="background-color:#669999; padding:0px 31px;">
    <a routerLink="home" class="logo">ShopPrime</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon 
            [matBadge]="NumOfItemsInCart" 
            matBadgeColor="warn"
            [matBadgeHidden]="!NumOfItemsInCart"
            style="transform: scale(1.2);"
        >shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="m-3 w-max">
        <div class="p-3 divide-y divide-solid">
            <!-- view cart row -->
            <div class="pb-3 flex justify-between">
                <span class="mr-16">{{NumOfItemsInCart}} Items</span>
                <a routerLink="cart">View Cart</a>
            </div>
            <div class="py-3" *ngIf="cart.items.length">
                <div 
                    class="flex justify-between font-light mb-2" 
                    *ngFor="let item of cart.items">
                     {{item.name}} x {{item.quantity}}
                    <span class="font-bold">{{item.price| currency:'GBP'}}</span>
                </div>
            </div>
            <!-- total row -->
            <div class="flex justify-between py-3 font-light">
                Total:
                <span class="font-bold">{{getTotal(cart.items) | currency:'GBP'}}</span>
            </div>
            <!-- clear btn row -->
            <div class="pb-3 float-right">
                <button 
                    mat-raised-button
                    color="warn"
                    (click)="clearCart()"
                    >
                    clear cart
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>