<mat-drawer-container [autosize]="true" class="min-h-full max-w-full mx-auto border-x px-3" style="background-color: #669999;">
    <mat-drawer mode="side" opened class="p-6" style="background-color: #669999;">
        <app-filters (showCategory)="onCategoryName($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header 
            (columnsCount)="onColumnsCountChange($event)"
            (itemsShowCountChange)="onItemsShowCountChange($event)"
            (sortItemsChange)="onSortItemsChange($event)">
        </app-products-header>
        <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
            <mat-grid-tile *ngFor="let product of products">
                <app-product-box 
                    class="w-full" 
                    [fullWidthMode]="cols === 1" 
                    (addToCart)="OnAddItemToCart($event)"
                    [product]="product"
                ></app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>